
body {
    font: normal 16px Arial, Helvetica, sans-serif;
    background-image: url(images/bg.png);
}

h1 {
    font-size: 40px;
}

h2{
    font-size: 28px;
}

#portrait {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
}

#logoHFU {
    width: 60%;
}

#music {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.video {
    width: 60%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.link {
    text-decoration: none;
    color: blue;
}
